.square-container {
    justify-content : center;
    width: 100%;
    height: 1800px;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
  }
  
  .square {
    margin: 50px;
    width: 30%;
    height: 600px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  